body {
  background-color: rgb(229, 220, 220);
  /* background-image: url(http://cdn.akc.org/content/article-body-image/samoyed_puppy_dog_pictures.jpg); */
}

h3 {
  color: yellow;
}

ol {
  /* Pour changer le style d'une liste ordonnée, on peut le faire via la propriété list-style qui peut idéalement avoir comme valeurs : decimal, lower-alpha, upper-alpha, lower-roman, upper-roman */
  list-style: upper-alpha;
}

li {
  color: orange;
}

/* Pour pouvoir sélectionner plus précisément dans notre CSS, il est possible de faire appel à ces sélecteurs basés sur une hierarchie particulière: 
- 'parent enfant' => on sélectionne l'enfant du moment qu'il a un parent (plus ou moins proche) tel que défini
- 'parent > enfant': on sélectionne l'enfant du moment qu'il est enfant direct du parent spécifié. */

ul > li {
  color: blue;
}

/* Pour cibler une classe en particulier depuis notre CSS, la syntaxe à utiliser est '.nom-de-classe' */
li.color-1 {
  color: yellow;
}

/* Pour cibler un ID en particulier dans notre CSS, la syntaxe à observer est '#nom-id' */
#li-A {
  color: green;
}

/* Les sélecteurs CSS respectent une hierarchie précise en ce qui concerne leur importance: balise < class < id */

.p-class {
  /* Pour les couleurs, il est possible de se servir:
  - Des variables de couleurs standards telles que 'red', 'green', 'orange', etc...
  - Des couleurs de type hexadécimales : #RRGGBB
  - Des couleurs en RGB : rgb(R, G, B)
  - Des couleurs en RGBA : rgba(R, G, B, A) */
  color: rgb(191, 56, 29);

  /* Pour les tailles, il existe plusieurs valeurs possibles:
  - Les valeurs en pixel: XXXpx
  - Les tailles en rem (1rem = 16px): 1rem
  - Un pourcentage de la taille du parent (dont la taille a une valeur fixée en CSS) le plus proche: 15%
  - En fonction de la hauteur de la vue (de base le navigateur) : 15vh
  - En fonction de la largeur de la vue (de base le navigateur): 20vw
   */
  font-size: 2rem;
  font-weight: bold; /* normal | bold | lighter */
  font-style: normal; /* italic | normal */
  text-decoration: none; /* none | underline | line-through | overline */
  text-transform: none; /* none | capitalize | uppercase | lowercase */
  font-family: initial; /* Une succession de polices séparées par des virgules | types de polices: serif, sans-serif, monospace, cursive, fantasy... */
  text-align: start; /* start, left | center | justify | end, right */
}

#boite-rouge-A {
  /* Pour les valeurs de margins / paddings, il est possible de décrire soit:display: 
  - Les 4 axes en même temps avec une valeur
  - L'axe Y puis l'axe X avec deux valeurs
  Haut Droite Bas Gauche avec 4 valeurs */
  margin: 50px 20px 25px 10px;
  padding: 20px 0 0 5px;

  /* Styles de bordures: solid, dotted, dashed */
  border: 5px solid black;
  /* border-radius est utilisé principalement avec comme valeur des pixels, sauf si l'on veut faire un cercle où on utilisera pour le coup 50% */
  border-radius: 50%;
  /* Pour masquer les enfants qui peuvent dépasser des bords du parent, on utilise l'overflow: hidden */
  overflow: hidden;
  height: 200px;
  width: 200px;
  background-color: red;
}

.text-white {
  color: yellow;
}

textarea {
  resize: none;
}

h1 {
  color: blue;
  display: inline;

}

.center-text {
  text-align: center;
}

.boite-a {
  /*
    Pour positionner des éléments en CSS, il est possible de se servir de la propriété 'position' qui de base suit la valeur 'static'. 

    - La position statique est celle qu'aurait lélément s'il suit le flux de la page (l'ordre de l'HTML)
    - La position 'relative' est la position de l'élément relativement à son emplacement de base, qui est conservé dans le flux de la page.
    - La position 'fixed' qui permet de positionner l'élément par rapport à la page du navigateur
    - La position 'absolute' qui va se positionner de façon absolue par rapport à son parent relatif le plus proche (en cas d'absence d'un tel parent, cela sera par rapport à la vue du navigateur, qui elle est positionnée relativement dans notre interface d'ordinateur)
    - La position 'sticky' qui va permettre de faire se coller l'élément à des bords de notre écran si la valeur de son décalage par rapport au haut, bas, gauche ou droite est censée passer en dessosu de la valeur minimale fixée

  */
  position: relative;
  top: 20px;
  left: 10px;
  z-index: -1;
  height: 500px;
  width: 500px;
  background-color: red;
}

.boite-b {
  position: absolute;
  top: 10px;
  left: 200px;
  z-index: -1;
  height: 100px;
  width: 100px;
  background-color: black;
}

.boite-c {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 50px;
  background-color: orange;
}